<%- include('../layouts/header.ejs') %>
<div class="content-page">
                <div class="content">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">View Booking</h4>

                                               
                                                    <% if (success) { %>
                                                        <div class="alert alert-success"><%= success %></div>
                                                    <% } %>
                                                    <% if (error) { %>
                                                        <div class="alert alert-danger"><%= error %></div>
                                                    <% } %>

                                                    <div class="row">
                                                        <div class="col-md-4 mb-3">
                                                            <label class="form-label">First Name</label>
                                                            <input type="text" class="form-control" name="first_name" id="firstName" value="<%= order.first_name %>" disabled>
                                         
                                                        </div>

                                                        <div class="col-md-4 mb-3">
                                                            <label class="form-label">Last Name</label>
                                                            <input type="text" class="form-control" name="last_name" id="lastName" value="<%= order.last_name %>" disabled>
                                                     
                                                        </div>

                                                        <div class="col-md-4 mb-3">
                                                            <label class="form-label">Email</label>
                                                            <input type="email" class="form-control" name="email" id="emailField" value="<%= order.email %>" disabled>
                                                 
                                                        </div>

                                                        <div class="col-md-4 mb-3">
                                                            <label class="form-label">Contact Number</label>
                                                            <input type="text" class="form-control" name="contact_number" id="contactNumber" value="<%= order.contact_number %>" disabled>
                                                      
                                                        </div>

                                                        <div class="col-md-4 mb-3">
                                                            <label class="form-label">NIC/Passport</label>
                                                            <input type="text" class="form-control" name="nic_passport" id="nicPassport" value="<%= order.nic_passport %>" disabled>
                                                     
                                                        </div>

                                                        <div class="col-md-4 mb-3">
                                                            <label class="form-label">Country</label>
                                                            <input type="text" class="form-control" name="country" id="country" value="<%= order.country %>" disabled>
                                                          
                                                        </div>

                                                        <div class="col-md-4 mb-3">
                                                            <label class="form-label">Event</label>
                                                            <input type="text" class="form-control" name="event" id="event" value="<%= order.event.name %>" disabled>
                                                         
                                                        </div>
                                                      
                                                    </div>

                                                   
                                                

                                    </div> </div> </div>
                        </div>
                        </div> </div>

            </div>
            <%- include('../layouts/footer.ejs') %>