<%- include('../layouts/header.ejs') %>
<div class="content-page">
                <div class="content">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">View Booking</h4>

                                               
                                                    <% if (success) { %>
                                                        <div class="alert alert-success"><%= success %></div>
                                                    <% } %>
                                                    <% if (error) { %>
                                                        <div class="alert alert-danger"><%= error %></div>
                                                    <% } %>

                                                    <h4 class="mt-4">Order Details</h4>
                                                    <div class="row">
                                                       
                                                        <div class="col-md-4 mb-3">
                                                            <h5 class="font-600 m-b-5">Date/Time</h5>
                                                        <p><%= order.createdAt %></p>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <h5 class="font-600 m-b-5">Total</h5>
                                                        <p><%= order.total %></p>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <h5 class="font-600 m-b-5">Status</h5>
                                                            <p><%= order.status %></p>
                                                        </div>
                                                    </div>
                                                        
                                                        <h4 class="mt-4">Customer Details</h4>
                                                    <div class="row">
                                                        <div class="col-md-4 mb-3">
                                                            <h5 class="font-600 m-b-5">First Name</h5>
                                                            <p><%= order.first_name %></p>
                                                        </div>

                                                        <div class="col-md-4 mb-3">
                                                            <h5 class="font-600 m-b-5">Last Name</h5>
                                                            <p><%= order.last_name %></p>
                                                        </div>

                                                        <div class="col-md-4 mb-3">
                                                            <h5 class="font-600 m-b-5">Email</h5>
                                                            <p><%= order.email %></p>
                                                        </div>

                                                        <div class="col-md-4 mb-3">
                                                            <h5 class="font-600 m-b-5">Contact Number</h5>
                                                            <p><%= order.contact_number %></p>
                                                        </div>

                                                        <div class="col-md-4 mb-3">
                                                            <h5 class="font-600 m-b-5">NIC/Passport</h5>
                                                            <p><%= order.nic_passport %></p>
                                                        </div>

                                                        <div class="col-md-4 mb-3">
                                                            <h5 class="font-600 m-b-5">Country</h5>
                                                            <p><%= order.country %></p>
                                                        </div>
                                                    </div>

                                                        <h4 class="mt-4">Event Details</h4>
                                                    <div class="row">
                                                        <div class="col-md-4 mb-3">
                                                            <h5 class="font-600 m-b-5">Event</h5>
                                                            <p><%= order.event.name %></p>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <h5 class="font-600 m-b-5">Location</h5>
                                                            <p><%= order.event.location %></p>
                                                        </div>
                                                        <div class="col-md-4 mb-3">
                                                            <h5 class="font-600 m-b-5">Date/Time</h5>
                                                            <p><%= order.event.start_date_time %></p>
                                                        </div>
                                                    </div>

                                                   
                                                

                                    </div> </div> </div>
                        </div>
                        </div> </div>

            </div>
            <%- include('../layouts/footer.ejs') %>