<%- include('../layouts/header.ejs') %>
<!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->
         
            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Events</h4>
                                                <% if (success) { %>
                                                    <div class="alert alert-success"><%= success %></div>
                                                <% } %>
                                                <% if (error) { %>
                                                    <div class="alert alert-danger"><%= error %></div>
                                                <% } %>

                                         <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body table-responsive">
                                                       
                    
                                                        <table id="responsive-datatable" class="table table-bordered table-bordered dt-responsive nowrap">
                                                            <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Start Date Time</th>
                                                                <th>End Date Time</th>
                                                                <th>Organized By</th>
                                                                <th>Status</th>
                                                                <th>Actions</th>

                                                            </tr>
                                                            </thead>
                    
                    
                                                           <tbody>
                                                                <% events.forEach(event => { %>
                                                                    <tr>
                                                                    <td><%= event.name || 'N/A' %></td>
                                                                    <td><%= event.start_date_time_local  || 'N/A' %></td>
                                                                    <td><%= event.end_date_time_local || 'N/A' %></td>
                                                                    <td><%= event.organized_by || 'N/A' %></td>
                                                                    <td>
                                                                        <span class="badge <%= event.status === 'active' ? 'bg-success' : 'bg-danger' %>">
                                                                        <%= event.status %>
                                                                        </span>
                                                                    </td>
                                                                    <td>
                                                                        <a href="/event/edit/<%= event.id %>" class="btn btn-primary rounded-pill waves-effect waves-light">Edit</a>
                                                                        <% if (event.status === 'active') { %>
                                                                        <a href="/event/deactivate/<%= event.id %>" class="btn btn-danger rounded-pill waves-effect waves-light">Deactivate</a>
                                                                        <% } else { %>
                                                                        <a href="/event/activate/<%= event.id %>" class="btn btn-success rounded-pill waves-effect waves-light">Activate</a>
                                                                        <% } %>
                                                                    </td>
                                                                   
                                                                    </tr>
                                                                <% }); %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                        </div> <!-- end row -->   

                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div>
                        </div>
                        <!-- end row -->        
                        
                    
                    </div> <!-- container -->

                </div>

            </div>
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
<%- include('../layouts/footer.ejs') %>