<%- include('../layouts/header.ejs') %>
<style>
svg{
width: 100%;
height: auto; 
}
</style>
<div class="content-page">
                <div class="content">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title">Add Booking</h4>

                                                <form class="mt-4" method="POST" action="/attendence-report">
                                                    <% if (success) { %>
                                                        <div class="alert alert-success"><%= success %></div>
                                                    <% } %>
                                                    <% if (error) { %>
                                                        <div class="alert alert-danger"><%= error %></div>
                                                    <% } %>

                                                    <div class="row">
                                                      
                                                        <div class="col-md-4 mb-3">
                                                            <label class="form-label">Event</label>
                                                            <select class="form-control" data-toggle="select2" name="event_id" id="eventSelect" data-width="100%">
                                                                    <option>Select....</option>
                                                                    <% events.forEach(event => { %>
                                                                        <option value="<%= event.id %>" data-location="<%= event.location %>"  data-seats="<%= JSON.stringify(event.seats || []) %>"><%= event.name %></option>
                                                                    <% }); %>
                                                            </select>
                                                            <% if (validationErrors?.event) { %>
                                                                <small class="text-danger"><%= validationErrors.event[0] %></small>
                                                            <% } %>
                                                        </div>
                                                        
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>

                                    </div> </div> </div>
                        </div>
                        </div> </div>

            </div>
            <%- include('../layouts/footer.ejs') %>
